---
layout: default
---

<div style="top:0">
    <img src="/assets/img/ci-cs-workshop-banner.jpg" style="width: 100%"/>
</div>

<div class="row" style="padding-left: 0 !important">
    <div class="col-12 col-lg-12 col-xl-12">
        <div id="page" class="post pb-5 pr-1 pr-sm-2 pr-md-4 mb-md-4">
            {% if page.dynamic_title %}
            <h1 class="dynamic-title">{{ page.title }}</h1>
            <div class="post-content">
                {{ content }}
            </div>
            {% else %}
            {{ content }}
            {% endif %}
        </div> <!-- #page -->
    </div><!-- .col-12 -->
</div>
